@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #ffffff
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0.625rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 24px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
}

.header_logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.customer_zone {
    margin-right: auto;
}

.header_img_phone {
    background-color: #000;
    border-radius: 50%;
}

.header_icon_user_number,
.header_icon_user_name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.header_icon_user_number img,
.header_icon_user img {
    width: 30px;
    height: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 0 20px;
    align-items: stretch
}

.zone_and_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#add_zone_list,
#add_user_list {
    display: flex;
    flex: 1 1 0;
    max-width: 455px;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border-radius: 5px;
}

#add_zone_list {
    order: 1;
}

#add_user_list {
    order: 2;
    margin-left: 50%;
}

#add_zone_button,
#add_user_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 5px solid #ff7900;
    border-radius: 50%;
    color: #ff7900;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    flex-shrink: 0;
}

#add_zone_button:hover,
#add_user_button:hover {
    background-color: #ff7900;
    color: #fff;
}


#add_zone_button:active,
#add_user_button:active {
    background-color: #ff7900;
    color: #fff;
    border: 5px solid #ffffff;
}

.zone_item,
.user_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #ff7900;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    box-sizing: border-box;
    flex-shrink: 0;
}

#map {
    flex: 4 1 calc(80% - 20px);
    min-width: 300px;
    height: 600px;
    padding: 10px;
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 5px;
    order: 3
}

.history {
    flex: 1 1 calc(20% - 20px);
    min-width: 250px;
    padding: 10px;
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 5px;
    order: 4;
}

.zone_item,
.user_item {
    visibility: hidden;
}

#add_zone_loc,
#add_user_loc {
    display: none;
    background-color: #ffb87a;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#add_zone_loc i#close_button_zone,
#add_user_loc i#close_button_user{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
}

#add_zone_loc i#close_button:hover {
    color: #ff7900;
}

#add_zone_loc i#close_button:active {
    color: #000;
}

#add_zone_loc .form_header,
#add_user_loc .form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#add_zone_loc h2, 
#add_user_loc h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#add_zone_loc label,
#add_user_loc label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

#add_zone_loc input,
#add_user_loc input,
#user_select {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#add_zone_loc button,
#add_user_loc button {
    align-self: center;
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff7900;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

#add_zone_loc button:hover,
#add_user_loc button:hover {
    background-color: #000;
}

#add_zone_loc button:active,
#add_user_loc button:active  {
    background-color: #ff7900;
    color: #fff;
}

.visible {
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.footer_warpper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.divider {
    border: solid #FF7900;
    border-width: 0 2.8px 2.8px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    margin: 0 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color: #ff7900;
    vertical-align: middle;
}

.footer_menu,
.footer_language {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_menu {
    flex: 4;
    justify-content: center;
}

.footer_language {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.footer_language li:nth-child(3) {
    color: #ff7900;
}

.footer_menu li,
.footer_language li,
.footer_copyrigth li {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.footer_copyrigth {
    padding: 15px 0 0 0;
    border-top: 1px solid #ccc;
    text-align: left;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    font-size: 14px;
    font-weight: 500;
}